<!-- hero slider -->
<section class="hero-section overlay bg-cover" data-background="images/banner/banner-1.jpg">
  <div class="container">
    <div class="hero-slider">
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-white" data-animation-out="" data-delay-out="5" data-duration-in=".3" data-animation-in="" data-delay-in=".1">What is IBC?</h1>
            <p class="text-muted mb-4" data-animation-out="" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor
              incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer</p>
          </div>
          <div class="col-md-6" id="sliderItemsContainer"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /hero slider -->
